@import "tailwindcss";

@theme {
  --color-orange-500: #F97316;
  --color-orange-600: #EA580C;
  --color-stone-50:  #FAFAF9;
  --color-stone-100: #F5F5F4;
  --color-stone-200: #E7E5E4;
  --color-stone-300: #D6D3D1;
  --color-stone-400: #A8A29E;
  --color-stone-500: #78716C;
  --color-stone-800: #292524;
  --color-stone-900: #1C1917;
}